
.circle__icon {
  width: 20px;
  height: 20px;
  display: flex;
  transition: 400ms;
  color: var(--circle);
  border-radius: 50%;

  &:hover {
    background: linear-gradient(90deg, rgba(87,221,255,1) 0%, rgba(192,50,205,1) 100%) !important;
  }
}

.circle {
  display: flex;
  border-radius: 50%;
  transition: 400ms;
  border: 2.2px solid var(--circle);
  width: 20px;
  height: 20px;
  margin: auto;

  &:hover {
    border: 0;
    width: 16.5px;
    height: 16px;
    cursor: pointer;
    transition: 400ms;
    background: var(--darkNight);
  }
}

.images {
  width: 8px;
  height: 9px;
  margin: auto;
}

#check {
  visibility: hidden;
}

.item__todo {
  display: flex;
  width: 100%;
  font-size: 14px;
  justify-content: flex-start;
  transition: 400ms;
  color: var(--text);
  margin-top: 4px;
}

.container__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item__remove {
  display: none;
}


@media screen and (max-width: 400px) {
  .item__remove {
    display: flex;
    width: 45px;
    cursor: pointer;
  }

  .fa-times {
    width: 14px;
    height: 21px;
    transition: 400ms;
    color: var(--text);
  }

}

