<div class="background" theme></div>

<div class="container__images">
  <div class="image"></div>
</div>

<div class="container__title">
  <div class="title">
    <span class="span__title">TODO</span>
    <img class="logo__sun" id="switch" (click)="toggle()" src="./../../assets/images/icon-sun.svg">
  </div>
</div>

<div class="container__card" theme>
  <div class="card">
    <i class="far fa-circle"></i>
    <input autocomplete="off" (keyup.enter)="handleNewTodo($event)" class="input" id="input" type="text" placeholder="Create a new todo..." />
  </div>

  <!-- Error -->
  <div *ngIf="error" (click)="onClickError()" class="items__card">
    <ng-container >
        <span class="error__card"  theme>
          Inserisci minimo 3 caratteri
        </span>
    </ng-container>
  </div>

  <div *ngFor="let item of mService.todos" class="items__card" >
    <app-todo-item style="display: flex; width: 100%" (onCheck)="handleTodoCheck($event)" [todo]="item"></app-todo-item>
  </div>

  <!-- Bottom card -->
  <div class="container__section">
    <div class="items__card item">
      <div class="section">
        <span>{{this.mService.todos.length}}&nbsp; items left</span>
        <div style="display: flex;">
          <span class="section__item" (click)="allTodo()">All</span>
          <span class="section__item" (click)="onlyActive()">Active</span>
          <span class="section__item" (click)="onlyCompleted()">Completed</span>
        </div>
        <span (click)="clearCompleted()" style="cursor: pointer;">Clear Completed</span>
      </div>
    </div>
  </div>
</div>


